<div class="container text-center p-5 bg-secondary mt-3 rounded">
  <h1 class="mb-5">{{title}}</h1>

  <form>
    <label class="fw-bold me-2">Number 1:</label> <input class="rounded" type="number" [(ngModel)]="number1" name="number1"><br><br>
    <label class="fw-bold me-2">Number 2:</label> <input class="rounded" type="number" [(ngModel)]="number2" name="number2"><br><br>


    <div class="container text-center w-25 mt-3">
      <div class="row g-3">
        <div class="col"><input class="btn btn-lg btn-primary" type="submit" value="Add" name="result" (click)="add()"></div>
        <div class="col"><input class="btn btn-lg btn-danger" type="submit" value="Substract" name="result" (click)="substract()"></div>
      </div>
      <div class="row g-3 mt-2">
        <div class="col"><input class="btn btn-lg btn-success" type="submit" value="Multiply" name="result" (click)="multiply()"></div>
        <div class="col"><input class="btn btn-lg btn-dark" type="submit" value="Split" name="result" (click)="split()"></div>
      </div>
    </div>
  </form>
  <p class="mt-5 fs-2 fw-bold">Result: {{result}}</p>
</div>